<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Oscar Vargas Torres - $title$</title>

        <!-- href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/custom.css" />

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <!-- <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
        
    </head>
    <body id="bootstrap-overrides">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Oscar Vargas Torres <small>{Software, Mobile}</small></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts.html">Posts</a></li>
                        <li><a href="/tags.html">Tags</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/talks.html">Talks</a></li>
                   </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://github.com/oscarvarto"><i class="fa fa-github fa-lg fa-fw"></i></a></li>
                        <li><a href="https://twitter.com/oscarvarto"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>
                        <li><a href="/rss.xml"><i class="fa fa-rss fa-lg fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    $body$
                </div>
            </div>
        </div>
    </body>
</html>
